{
  "$schema": "https://opencode.ai/config.json",
  "mcp": {
    "playwright": {
      "type": "local",
      "command": [
        "npx",
        "-y",
        "@playwright/mcp@0.0.79"
      ],
      "enabled": {{ if eq .machine "work" }}false{{ else }}{{ .enableLocalMCP | default false }}{{ end }}
    },
    "context7": {
      "type": "remote",
      "url": "https://mcp.context7.com/mcp",
      "enabled": {{ if eq .machine "work" }}false{{ else }}{{ .enableNetworkMCP | default false }}{{ end }},
      "headers": {
        "Authorization": "Bearer {env:CONTEXT7_API_KEY}"
      }
    },
    "gh_grep": {
      "type": "remote",
      "url": "https://mcp.grep.app",
      "enabled": {{ if eq .machine "work" }}false{{ else }}{{ .enableNetworkMCP | default false }}{{ end }}
    }
  },
  "permission": {
    "websearch": "{{ if eq .machine "work" }}deny{{ else }}allow{{ end }}",
    "webfetch": "{{ if eq .machine "work" }}deny{{ else }}allow{{ end }}"
  },
  "lsp": true,
  "plugin": [
    "oh-my-opencode-slim@2.2.15"
  ],
  "agent": {
    "explore": {
      "disable": true
    },
    "general": {
      "disable": true
    }
  }
}
