[user]
	name = {{ .gitName | quote }}
	email = {{ .gitEmail | quote }}
{{- if eq .machine "personal" }}
	signingkey = ~/.ssh/id_rsa.pub
{{- end }}

{{- if eq .machine "personal" }}
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- end }}

[init]
	defaultBranch = main

[fetch]
	prune = true

[pull]
	rebase = false

[core]
	autocrlf = input
